<div class="oj-flex">
   <div class="oj-xl-9 oj-lg-9 oj-md-9 oj-sm-12 oj-flex-item">
      <div role="main" class="oj-panel demo-page-content-area">
         <h2 id="title" data-bind="text: title"></h2>
         <!-- ko foreach: description -->
         <p data-bind="text: line"></p>
         <!-- /ko -->
         <a id= "bookChap2" href="/router/Sample-ojModule/book/chapter2">Go to /book/chapter2</a>
      </div>
   </div>
   <div class="oj-xl-3 oj-lg-3 oj-md-3 oj-sm-12 oj-flex-item">
      <div class="oj-panel oj-panel-alt2 demo-page-content-area">
         <p>Click on the toolbar buttons to switch which component is displayed in this page.</p>
      </div>
   </div>
</div>
